@using AgeCalculator_APP.Models.Entity
@model List<PersonViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .table span {
        display: none;
    }
</style>
<table id="table1" class="table table-bordered">
    <thead>
        <tr>
            <th>Kayıt No</th>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Cinsiyet</th>
            <th>Doğum Tarihi</th>
            <th>Yaş</th>
            <th>Şehir</th>
        </tr>
    </thead>
    @{int OrderNo = 1;}
    <tbody>
        @foreach (var person in Model.OrderBy(x => x.PersonID))
        {
            <tr>
                <th>@(OrderNo++)</th>
                <td>@person.Name</td>
                <td>@person.Surname</td>
                <td>@person.GenderName</td>
                <td><span>@person.BirthDate.Value.ToString("yyyyMMdd")</span>@person.BirthDate.Value.ToString("dd/MM/yyyy")</td>
                <td>@person.Age</td>
                <td>@person.CityName</td>
            </tr>
        }
    </tbody>
</table>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />

<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

<script>
    $('#table1').dataTable({});
</script>