@using AgeCalculator_APP.Models.Entity
@model PersonViewModel

@{
    ViewData["Title"] = "CalculateAge";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script>

        //$('#BirthDate').datetimepicker({
        //    format: 'MM/DD/YYYY',
        //    defaultDate: new Date()
        //});

        /*  ==========================================
            SHOW UPLOADED IMAGE
        * ========================================== */
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imageResult')
                        .attr('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }

        $(function () {
            $('#upload').on('change', function () {
                var size = input.files[0].size;
                if (size > 5242880) {
                    alert("Yüklenen dosyanın boyutu en fazla 5 Mb olmalıdır.");
                }
                readURL(input);
            });
        });

        /*  ==========================================
            SHOW UPLOADED IMAGE NAME
        * ========================================== */
        var input = document.getElementById('upload');
        var infoArea = document.getElementById('upload-label');

        input.addEventListener('change', showFileName);
        function showFileName(event) {
            var input = event.srcElement;
            var fileName = input.files[0].name;
            infoArea.textContent = 'File name: ' + fileName ?? "yok usta";
        }
    </script>
</head>
<body>
    <div class="text-center">
        <hr />
        <br />
        <h1 class="display-4">Yaş Hesaplama Uygulaması</h1>
        <hr />
        <br />
        <div style="text-align:center">
            <p>Yaşınızı hesaplamak için bilgilerinizi giriniz:</p>
        </div>
        <hr />
    </div>
    @using (Html.BeginForm("Calculate", "Person", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div>
            <table>
                <tr>
                    <td>
                        <div style="margin-bottom:5px">
                            <img id="imageResult" src="~/Images/icon.jpg" alt="" style="width:300px; height:300px; border:groove; border-radius:50%" />
                        </div>
                        <div>
                            @Html.EditorFor(model => model.PhotoFile, new
                            {
                                htmlAttributes = new
                                {
                                    @class = "form-control",
                                    @type = "file",
                                    @onchange = "readURL(this)"

                                }
                            })
                            @*<input id="upload" type="file" style="border-radius: 10px;border: groove;width: 300px;" onchange="readURL(this);" />*@
                        </div>
                    </td>
                    <td>
                        <div style="width:200px">

                        </div>
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <div style="width: 120px; margin-top: 21.4px">
                                        @Html.LabelFor(x => x.Name):
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Name, "", new { @style = "color:red" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div style="width: 120px; margin-top: 21.4px">
                                        @Html.LabelFor(x => x.Surname):
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        @Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Surname, "", new { @style = "color:red" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div style="width: 120px; margin-top: 21.4px">
                                        @Html.LabelFor(x => x.BirthDate):
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        @Html.TextBoxFor(model => model.BirthDate, new { @type = "date", @class = "form-control datepicker", @Value = Model.BirthDate.ToString() })
                                        @Html.ValidationMessageFor(m => m.BirthDate, "", new { @style = "color:red" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div style="width: 120px; margin-top: 21.4px">
                                        @Html.LabelFor(x => x.Gender):
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <select class="form-control" id="Gender" name="Gender" type="" value="">
                                            <option value="1">Kadın</option>
                                            <option value="2">Erkek</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div style="width: 120px; margin-top: 21.4px">
                                        @Html.LabelFor(x => x.Cities):
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        @Html.DropDownListFor(m => m.CityID, new SelectList(Model.Cities, "CityID", "CityName"), "Yaşadığınız Şehri Seçiniz", new
                                       {
                                           @id = "cmb-sehirler",
                                           @class = "form-control custom-select selectpicker",
                                           @data_width = "auto",
                                           @liveSearch = "true"
                                       })
                                        @Html.ValidationMessageFor(m => m.CityID, "", new { @style = "color:red" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div style="width: 120px; margin-top: 21.4px">
                                        @Html.LabelFor(x => x.Age):
                                    </div>
                                </td>
                                <td>
                                    <div style="background-color:gold">
                                        @(Model.Age == 0 ? "" : Model.Age.ToString() + " yaşındasınız.")
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <form class="form-group" method="post">
                                        <div>
                                            @*<a href="/Person/Calculate/@Model" class="btn btn-success">Hesapla</a>*@
                                            <input class="form-control" id="Hesapla" name="Hesapla" type="submit" value="Hesapla"
                                                   onclick="location.href='@Url.Action("Calculate", "Person",Model)'" />
                                        </div>
                                    </form>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    }

</body>
</html>



